.experiencias__empresa:not(:last-child){
    margin-bottom: 1.5rem;
}

.experiencias__info-empresa{
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-bottom: 1rem;
}

.experiencias__imagem-empresa{
    width: 48px;
    height: 48px;
}

.experiencias__descricao-empresa{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.experiencias__nome-empresa{
    color: var(--texto-principal);
    font-size: 1rem;
    font-weight: 600;
}

.experiencias__tempo-empresa{
    color: var(--texto-secundario);
    font-size: 0.875rem;
    font-weight: 400;
}

.experiencias__lista-cargos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experiencias__cargo{
    display: flex;
    gap: .7rem;
}

.experiencias__linha-tempo{
    width: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.experiencias__linha-tempo span:first-child{
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

.experiencias__linha-tempo span:last-child{
    display: inline-block;
    width: 1px;
    height: 80%;
    background-color: var(--texto-secundario);
}

.experiencias__info{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.experiencias__posicao{
    font-size: 1rem;
    font-weight: 600;
    color: var(--texto-principal);
}

.experiencias__tipo-emprego{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--texto-principal);
}

.experiencias__duracao{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--texto-secundario);
}

.experiencias__duracao span:last-child::before{
    content: "\00b7";
    margin: 0 6px 0 3px;
    color: var(--texto-secundario);
}

.experiencias__localizacao{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--texto-secundario);
}